page-login {

  .mobile-login{
    background-image: url('../assets/imgs/mobile_login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  ion-card{
    position: fixed;
    bottom: 5%;
  }

}
