page-conservation-admin-master {

    .card-ios p {
        color: color($colors, white);
    }

    .card-md p {
        color: color($colors, white);
    }

    .admin-card .card-ios {
        background: linear-gradient(90deg, color($colors, primary) 0%, color($colors, secondary) 40%, color($colors, tertiary) 100%);
    }

    .admin-card .card-md {
        background: linear-gradient(90deg, color($colors, primary) 0%, color($colors, secondary) 40%, color($colors, tertiary) 100%);
    }
}
