<ion-header>
  <ion-navbar>
    <ion-title>Conservation Admins</ion-title>
    <ion-buttons end>
      <button ion-button round outline (click)='openModal()'>
        Add
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let admin of admins">
      <h1>{{admin.username}}</h1>
      <p>{{admin.name}} {{admin.surname}}</p>
      <p><u>{{admin.email}}</u></p>
      <button ion-button round outline (click)='showConfirm(admin)'>
        Delete
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
    <!--<ion-grid>
      <ion-row>
        <ion-col class="admin-card" *ngFor="let admin of admins" col-12 col-sm-9 col-md-6 col-lg-4>
          <ion-card>
            <ion-card-header>
              {{admin.username}}
            </ion-card-header>
            <ion-card-content>
              <p>{{admin.name}} {{admin.surname}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>-->
  </ion-list>
</ion-content>